html, body {
  height: 100%;
}

body {
  background: #EFEFEF;
  font-family: sans-serif;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.nav-left {
  display: flex;
  width: 60%;
  background: #2B2B2B;
  color: white;
  height: 130px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 40%;
  background: #2B2B2B;
  color: white;
  height: 130px;
}

.admin {
  width: 20px;
  margin-top: 10px;
  padding-right: 5px;
}

.logo {
  width: 50px;
  height: 40px;
  margin-top: 35px;
}

.icon {
  width: 18px;
  margin-top: 80px;
  padding-left: 10px;
  padding-right: 8px;
}
.username {
  font-size: 14px;
  color: #38baff;
}

.win {
  font-size: 50px;
  font-weight: bold;
}

span {
  font-size: 14px;
}

.playlist,
.videos {
  padding-left: 40px;
  color: #979797;
}

h1 {
  color: #4C4C4C;
  padding-left: 10px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 5px;
  width: 98%;
}

.card {
  width: 300px;
  height: 380px;
}

.bottom-card {
  background: white;
  box-shadow: 3px 3px 3px #BFC0BF;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #7A7A7A
}

.name {
margin-bottom: 0;
color: #7A7A7A;
font-size: 15px;
}

.small-txt {
  font-size: 12px;
  color: lightgrey;
  margin-top: 4px;
}

.grey-bkground {
  background: #EFEFEF;
  font-size: 14px;
  padding: 3px;
}

.url  {
  padding-left: 8px;
}


.name-playlist, .attachments {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
}

.another {
  margin-top: 0;
}

.number {
  font-size: 30px;
  color: #38baff;
  margin-top: 0;
}

.img1 {
  background: url(assets/img1.jpg) no-repeat;
  background-size: cover;
  height: 110px;
  filter: grayscale(20%);
}

.img2 {
  background: url(assets/img2.jpg) no-repeat;
  background-size: cover;
  height: 110px;

}

.img3 {
  background: url(assets/img3.jpg) no-repeat;
  background-size: cover;
  height: 110px;
}

.img4 {
  background: url(assets/img4.jpg) no-repeat;
  background-size: cover;
  height: 110px;
}

.img5 {
  background: url(assets/img5.jpg) no-repeat;
  background-size: cover;
  height: 110px;
}

.img6 {
  background: url(assets/img6.jpg) no-repeat;
  background-size: cover;
  height: 110px;
}

.img7 {
  background: url(assets/img7.jpg) no-repeat;
  background-size: cover;
  height: 110px;
}

.img8 {
  background: url(assets/img8.jpg) no-repeat;
  background-size: cover;
  height: 110px;
}

.img9 {
  height: 0;
}

@media(max-width: 1036px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 24%;
    height:410px;
  }
}

@media(max-width: 930px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height:410px;
  }
}

@media(max-width: 800px) {
  .left {
    display: none;
}

  .icon {
    padding-right: 70px;
  }
}


@media(max-width: 620px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 46%;
    height:410px;
  }
}

@media(max-width: 490px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 75%;
    height:410px;
  }
}
